@import "variables.scss";

.navigator-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 0;
}

.navigator-button{
  width: 72px;
  height: 25px;
  line-height: 25px;
  border: 1px  solid white;
  margin: 2px;
  flex-shrink: 0;
  border-radius: 7px;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.subheader-area {
  width: 1030px;
  height: $subtitle-height;
  background-color: $second-color;
  display: flex;
  margin-top: -43px;
  justify-content: center;
 }



.subh-text{
  width: 500px;
  color: $main-text-color;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-align: left;
  padding-top: 76px;
  padding-left: 150px;
  //background-color: yellow;
}

.subheader-container{
  justify-content: center;
}
